footer {
    text-align: center;
}

header {
    text-align: center;
}

main {
    margin-bottom: 30px;
}

.jumbo {
    margin-bottom: 0;
}

section {
    margin-top: -2rem;
    margin-bottom: 2rem;
}



li {

    list-style-type: none;

}